schemes/ConsultarNotaValida.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DadosConsultaNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nota">
          <xs:annotation>
            <xs:documentation>You may enter the following 6 items in any order</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="serie"/>
        <xs:element type="xs:string" name="valor"/>
        <xs:element type="xs:string" name="prestador_ccm"/>
        <xs:element type="xs:string" name="prestador_cnpj"/>
        <xs:element type="xs:string" name="autenticidade"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>