schemes/ConsultarNotaPrestador.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DadosPrestador">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="ccm">
          <xs:annotation>
            <xs:documentation>You may enter the following 6 items in any order</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="cnpj"/>
        <xs:element type="xs:string" name="senha"/>
        <xs:element type="xs:string" name="crc"/>
        <xs:element type="xs:string" name="crc_estado"/>
        <xs:element type="xs:string" name="aliquota_simples"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nota">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="nota">
          <xs:annotation>
            <xs:documentation>You may enter the following 2 items in any order</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element type="xs:string" name="serie"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>